## CROP YIELD PREDICTION using KNN

IMPORTING LIBRARY

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_excel(r"C:\Users\Avani\Desktop\Practice\crop interface\CROP.xlsx")

In [3]:
excel = pd.read_excel(r"C:\Users\Avani\Desktop\Practice\crop interface\CROP.xlsx")
print(excel)
data.head()

      NITROGEN  PHOSPHORUS  POTASSIUM  TEMPERATURE   HUMIDITY        PH  \
0           90          42         43    20.879744  82.002744  6.502985
1           85          58         41    21.770462  80.319644  7.038096
2           60          55         44    23.004459  82.320763  7.840207
3           74          35         40    26.491096  80.158363  6.980401
4           78          42         42    20.130175  81.604873  7.628473
...        ...         ...        ...          ...        ...       ...
2195       107          34         32    26.774637  66.413269  6.780064
2196        99          15         27    27.417112  56.636362  6.086922
2197       118          33         30    24.131797  67.225123  6.362608
2198       117          32         34    26.272418  52.127394  6.758793
2199       104          18         30    23.603016  60.396475  6.779833

        RAINFALL    CROP
0     202.935536    rice
1     226.655537    rice
2     263.964248    rice
3     242.864034    rice
4     262.717340    rice
...          ...     ...
2195  177.774507  coffee
2196  127.924610  coffee
2197  173.322839  coffee
2198  127.175293  coffee
2199  140.937041  coffee

[2200 rows x 8 columns]

,NITROGEN,PHOSPHORUS,POTASSIUM,TEMPERATURE,HUMIDITY,PH,RAINFALL,CROP
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice

In [4]:
print(data["CROP"].unique())

['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans'
 'mungbean' 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes'
 'watermelon' 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton'
 'jute' 'coffee']

In [5]:
print(data["CROP"].value_counts())

rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: CROP, dtype: int64

In [6]:
data.columns

Index(['NITROGEN', 'PHOSPHORUS', 'POTASSIUM', 'TEMPERATURE', 'HUMIDITY', 'PH',
       'RAINFALL', 'CROP'],
      dtype='object')

In [7]:
# deleting column

In [8]:
dataset = data[['NITROGEN', 'PHOSPHORUS', 'POTASSIUM', 'TEMPERATURE', 'HUMIDITY', 'PH',
       'RAINFALL', 'CROP']]

In [9]:
dataset.head()

,NITROGEN,PHOSPHORUS,POTASSIUM,TEMPERATURE,HUMIDITY,PH,RAINFALL,CROP
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice

In [10]:
y = dataset.iloc[:,-1:]
X = dataset.iloc[:,:-1]

In [11]:
y.head()

   CROP
0  rice
1  rice
2  rice
3  rice
4  rice

In [12]:
X.head()

,NITROGEN,PHOSPHORUS,POTASSIUM,TEMPERATURE,HUMIDITY,PH,RAINFALL
0,90,42,43,20.879744,82.002744,6.502985,202.935536
1,85,58,41,21.770462,80.319644,7.038096,226.655537
2,60,55,44,23.004459,82.320763,7.840207,263.964248
3,74,35,40,26.491096,80.158363,6.980401,242.864034
4,78,42,42,20.130175,81.604873,7.628473,262.717340

IMPORTING KNEAREST NEIGHBHOR

In [13]:
from sklearn import preprocessing                                         # Importing sklearn library. This is a very powerfull library for machine learning. Scikit-learn is probably the most useful library for machine learning in Python. The sklearn library contains a lot of efficient tools for machine learning and statistical modeling including classification, regression, clustering and dimensionality reduction.
from sklearn.neighbors import KNeighborsClassifier

In [14]:
model = KNeighborsClassifier(n_neighbors=3)

In [15]:
le = preprocessing.LabelEncoder() 
crop = le.fit_transform(list(excel["CROP"]))

In [16]:
NITROGEN = list(excel["NITROGEN"])
PHOSPHORUS = list(excel["PHOSPHORUS"])  
POTASSIUM = list(excel["POTASSIUM"]) 
TEMPERATURE = list(excel["TEMPERATURE"])   
HUMIDITY = list(excel["HUMIDITY"]) 
PH = list(excel["PH"]) 
RAINFALL = list(excel["RAINFALL"])

In [17]:
features = list(zip(NITROGEN, PHOSPHORUS, POTASSIUM, TEMPERATURE, HUMIDITY, PH, RAINFALL))  
features = np.array([NITROGEN, PHOSPHORUS, POTASSIUM, TEMPERATURE, HUMIDITY, PH, RAINFALL]) 
features = features.transpose()     
print(features.shape)
print(crop.shape)

(2200, 7)
(2200,)

TRAIN TEST SPLITTING

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [21]:
# importing warning library
import warnings
warnings.filterwarnings('ignore')

In [18]:
#model.fit(features, crop)
model.fit(X,y)

C:\Users\Avani\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [20]:
X.head()

,NITROGEN,PHOSPHORUS,POTASSIUM,TEMPERATURE,HUMIDITY,PH,RAINFALL
0,90,42,43,20.879744,82.002744,6.502985,202.935536
1,85,58,41,21.770462,80.319644,7.038096,226.655537
2,60,55,44,23.004459,82.320763,7.840207,263.964248
3,74,35,40,26.491096,80.158363,6.980401,242.864034
4,78,42,42,20.130175,81.604873,7.628473,262.717340

Model Prediction

In [22]:
pred = model.predict([['90','42','43','20.879744','82.002744','6.502985','202.935536']])
print(pred)

['rice']

In [23]:
pred = model.predict([['85','58','41','21.770462','80.319644','7.038096','226.655537']])
print(pred)

['rice']

### PICKLING

In [24]:
import pickle

In [29]:
filename = 'Price_pred_model'
pickle.dump(model,open(filename,'wb'))

In [30]:
loaded_model = pickle.load(open(filename,'rb'))
loaded_model.predict([['90','42','43','20.879744','82.002744','6.502985','202.935536']])

array(['rice'], dtype=object)

In [31]:
loaded_model = pickle.load(open(filename,'rb'))
loaded_model.predict([['90','42','43','20.879744','82.002744','6.502985','202.935536']])

array(['rice'], dtype=object)

### TKINTER 
RADIOBUTTON

W3schools

In [35]:
from tkinter import *

root = Tk()

root.title ("Crop Suitability Predict")

# this will create a label widget
l1 = Label(root, text = "NITROGEN:")
l2 = Label(root, text = "PHOSPHORUS:")
l3 = Label(root, text = "POTASSIUM:")
l4 = Label(root, text = "TEMPERATURE:")
l5 = Label(root, text = "HUMIDITY:")
l6 = Label(root, text = "PH:")
l7 = Label(root, text = "RAINFALL:")

 
# grid method to arrange labels in respective
# rows and columns as specified
l1.grid(row = 0, column = 0, sticky = W, pady = 2)
l2.grid(row = 1, column = 0, sticky = W, pady = 2)
l3.grid(row = 2, column = 0, sticky = W, pady = 2)
l4.grid(row = 3, column = 0, sticky = W, pady = 2)
l5.grid(row = 4, column = 0, sticky = W, pady = 2)
l6.grid(row = 5, column = 0, sticky = W, pady = 2)
l7.grid(row = 6, column = 0, sticky = W, pady = 2)

 
# entry widgets, used to take entry from user
e1 = Entry(root)
e2 = Entry(root)
e3 = Entry(root)
e4 = Entry(root)
e5 = Entry(root)
e6 = Entry(root)
e7 = Entry(root)

 
# this will arrange entry widgets
#(creates an horizontal writing tab to write variable values)

e1.grid(row = 0, column = 1, pady = 2)
e2.grid(row = 1, column = 1, pady = 2)
e3.grid(row = 2, column = 1, pady = 2)
e4.grid(row = 3, column = 1, pady = 2)
e5.grid(row = 4, column = 1, pady = 2)
e6.grid(row = 5, column = 1, pady = 2)
e7.grid(row = 6, column = 1, pady = 2)



    

def Submit():
    print('Values of N-P-K & Climate condition is best suited for the crop');
    #print(e1.get());
    pred = loaded_model.predict([[e1.get(),e2.get(),e3.get(),e4.get(),e5.get(),e6.get(),e7.get()]])
    print(pred)



    
b1 = Button(root,text ="Submit",command=Submit, bg ="Green",fg ="White",pady= 25, padx = 50)

b2 = Button(root,text="Quit",command =root.quit,bg ="Red",fg ="White",pady= 25, padx = 50)


# arranging button widgets
# sticky = news North,south east west direction.

b1.grid(row = 7, column = 2, sticky = E)
b2.grid(row = 7, column = 3, sticky = E)


mainloop()

Values of N-P-K & Climate condition is best suited for the crop
['rice']